:root {
  --dark-bg-color: hsl(207, 26%, 17%);
  --article-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body div {
  padding: 20px 10px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #202D36;
  color: #fff
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  box-shadow: 0 10px 10px rgb(32, 45, 54);
}

.grid article img {
  border-radius: 5px 5px 0 0;
}

.grid .info {
  background-color: #2b3743;
  padding: 16px 16px 24px;
  margin-top: -10px;
  border-radius: 0 0 5px 5px;
}

.grid .info h4 span {
  font-weight: 300;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 998px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}